<div id="<%= dom_id animedc %>">
  <p>
    <strong>Anime name:</strong>
    <%= animedc.anime_name %>
  </p>

  <p>
    <strong>Authour:</strong>
    <%= animedc.authour %>
  </p>

  <p>
    <strong>Watched:</strong>
    <%= animedc.watched %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= animedc.rating %>
  </p>

</div>
