
<h1>Anime List</h1>
<% if user_signed_in? %>
<table class="table table-stirped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Anime</th>
      <th>Author</th>
      <th>Watched?</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @animedcs.each do |animedc| %>
  <% if animedc.user == current_user %>
  <tr>
    <td><%= link_to animedc.anime_name, animedc %></td>
    <td><%= animedc.authour %></td>
    <td><%= animedc.watched %></td>
    <td><%= animedc.rating %></td>
    <td><%= link_to 'Show', animedc %></td>
    <td><%= link_to 'Edit', edit_animedc_path(animedc) %></td>
  </tr>
  <% end%>
  <% end %>
   </tbody>
</table>

<br>
 


<%= link_to "Add New Anime", new_animedc_path, class:"btn btn-secondary"%>

<% else %>

<h1>Home Page</h1>
<p>Login to See List</p>

<% end %>
